In [45]:
import json
from datetime import datetime
import pandas as pd
import numpy as np

In [12]:

with open('Telegram Chat with Jeet.json', 'r') as f:
    data = json.load(f)

In [ ]:
data['messages']

In [29]:
wordDf = pd.DataFrame(columns = ['Speaker', 'Date', 'Word'])
    messageDf = pd.DataFrame(columns = ['Speaker', 'Date', 'Message'])

In [40]:
for _, i in enumerate(data['messages']):
    if i['type'] == 'message' and type(i['text']) == str:
        speaker = i['from']
        date = datetime.strptime(i['date'], '%Y-%m-%dT%H:%M:%S')
        message = i['text']
        for j in message.split(' '):
            wordDf = wordDf.append({'Speaker' : speaker, 'Date' : date, 'Word' : j}, ignore_index=True)
        messageDf.loc[_] = [speaker, date, message]

In [41]:
messageDf

,Speaker,Date,Message
1,Krishnaraj Thadesar,2021-01-20 17:25:15,helloo
2,Krishnaraj Thadesar,2021-01-20 17:25:20,kaisa hai naya phone?
3,Jeet Dhakan,2021-01-20 17:25:58,Masttt
4,Jeet Dhakan,2021-01-20 17:30:52,ðŸ‘Œ
5,Krishnaraj Thadesar,2021-01-20 21:04:24,Nicee
...,...,...,...
1593,Krishnaraj Thadesar,2022-03-01 20:55:22,better
1594,Krishnaraj Thadesar,2022-03-01 20:55:37,with some editing itll look like the professio...
1595,Jeet Dhakan,2022-03-01 21:34:34,yessss
1596,Jeet Dhakan,2022-03-01 21:34:39,thankssss
1597,Jeet Dhakan,2022-03-01 21:34:43,ðŸ˜‚ ðŸ˜‚

In [46]:
wordDf['Word'].replace('', np.nan, inplace=True)

In [49]:
wordDf.dropna(subset=['Word'], inplace=True)

In [50]:
wordDf

                  Speaker                Date       Word
0     Krishnaraj Thadesar 2021-01-20 17:25:15     helloo
1     Krishnaraj Thadesar 2021-01-20 17:25:20      kaisa
2     Krishnaraj Thadesar 2021-01-20 17:25:20        hai
3     Krishnaraj Thadesar 2021-01-20 17:25:20       naya
4     Krishnaraj Thadesar 2021-01-20 17:25:20     phone?
...                   ...                 ...        ...
4946  Krishnaraj Thadesar 2022-03-01 20:55:37       pics
4947          Jeet Dhakan 2022-03-01 21:34:34     yessss
4948          Jeet Dhakan 2022-03-01 21:34:39  thankssss
4949          Jeet Dhakan 2022-03-01 21:34:43          ðŸ˜‚
4950          Jeet Dhakan 2022-03-01 21:34:43          ðŸ˜‚

[4651 rows x 3 columns]

In [51]:
messageDf['Message'].replace('', np.nan, inplace=True)
messageDf.dropna(subset=['Word'], inplace=True)

KeyError: ['Word']

In [59]:
people = set()
for i in wordDf['Speaker']:
    people.add(i)

In [63]:

person1, person2 = people

In [65]:
wordDf['Speaker'].replace(person1, 1, inplace=True)
wordDf['Speaker'].replace(person2, 2, inplace=True)

In [66]:
wordDf

      Speaker                Date       Word
0           1 2021-01-20 17:25:15     helloo
1           1 2021-01-20 17:25:20      kaisa
2           1 2021-01-20 17:25:20        hai
3           1 2021-01-20 17:25:20       naya
4           1 2021-01-20 17:25:20     phone?
...       ...                 ...        ...
4946        1 2022-03-01 20:55:37       pics
4947        2 2022-03-01 21:34:34     yessss
4948        2 2022-03-01 21:34:39  thankssss
4949        2 2022-03-01 21:34:43          ðŸ˜‚
4950        2 2022-03-01 21:34:43          ðŸ˜‚

[4651 rows x 3 columns]